@media (max-width: 600px) {
    .header, .welcome-section, .contacts {
        font-size: 1rem;
    }

    .socials-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            margin-bottom: 15px;
        }
    }

}   